# IDE, local settings
.vscode
*.env
poetry.toml
pyrightconfig.json

# build, metadata and distribution
*.pyc
*.egg-info
/dist
/build

# venv, node modules
/venv
.venv
.tox
node_modules

# tempfiles, log, huge files
tmp
/log
/data

# personal info
/config/*
!/config/test*
!/config/log.yml
/docker/*.yml
!/docker/docker-compose.yml

# useless documents and archives
archive
/doc/*
!/doc/source
