# vs code config and cache
__pycache__
.vscode

# my private data
/data
.pylintrc
yapf_style.cfg
.env
test/botTest.py
config/config.yaml

# temporary files
tmp
test.*
*.html
*.xml
*.log

dockerfile

# build
/build
/dist
*.egg-info
