# vs code config and cache
__pycache__
.vscode

# my private data
/data
.pylintrc
yapf_style.cfg
test/compressTest.py
test/botTest.py

# temporary files
tmp
config
test.*
*.html
*.xml
*.log

# build
/build
/dist
*.egg-info
